@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">mahnoor raza</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">sap 36699</a>.</p>
</div>
